{% extends "template-model-1.html.twig" %}

{% block title %}
Création d'un participant
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 column-left">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header>
                            <div class="logo">
                                <img src="assets/img/logo-logitud-105x30_2x.png"
                                    alt="logo logitud | Application de Ski">
                            </div>
                        </header>
                    </div>
                </div>

                <div class="row creation-participant">

                    <div class="col-xs-12 text-center">
                        <h1>AJOUT D'UN PARTICIPANT</h1>

                        <form class="form-creation-participant">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nomParticipant" name="nomParticipant"
                                    placeholder="Nom">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="prenomParticipant" name="prenomParticipant"
                                    placeholder="Prénom">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="dateNaissanceParticipant"
                                    name="dateNaissanceParticipant"
                                    placeholder="Date de naissance au format XX/XX/XXXX">
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                    <label class="custom-file-label" for="validatedCustomFile">Choisir la photo</label>
                                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <select class="form-control">
                                    <option>M1</option>
                                    <option>M2</option>
                                    <option>M3</option>
                                    <option>Sénior</option>
                                    <option>V</option>
                                    <option>Snow</option>
                                    <option>Nouvelle Glisse</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <select class="form-control">
                                    <option>Policier</option>
                                    <option>ASVP : ex-pervenches</option>
                                    <option>Open : Conjoints et/ ou enfants</option>
                                    <option>Garde-champêtre</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" width="100">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-8 column-right">



        </div>
    </div>
</div>

{% endblock %}