{% extends "template-model-1.html.twig" %}

{% block title %}
Création d'une epreuve
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 column-left">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header>
                            <div class="logo">
                                <img src="assets/img/logo-logitud-105x30_2x.png"
                                    alt="logo logitud | Application de Ski">
                            </div>
                        </header>


                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>CRÉATION D'UNE NOUVELLE ÉPREUVE</h1>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-8 column-right">
        </div>
    </div>
</div>

{% endblock %}