/********************  */
/*********  */

* {
    /* border: 2px solid black; */
    color: #444444;
}

/******************** TEST */

/******************** RÈGLES GÉNÉRALES */
/********* Boutons */
.button-index {
    padding: 10px 120px;
    font-size: 20px;
    text-transform: uppercase;

    color: #fff;
    background-color: #444444;
    border: 1px solid #fff;

    transition: all 1s ease;
}

.button-index:hover {
    color: #444444;
    background-color: #fff;
    border: 1px solid #444444;
}

/********* Liens */
a:hover {
    text-decoration: none;
}

/********* Marges */
/* bottom */

.mb-25 {
    margin-bottom: 25px;
}

/* Top */

.mt-15 {
    margin-top: 15px;
}

/********* Typographie */

/* Titre */

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}







/******************** ÉLÉMENTS DE CONSTRUCTION */


/******************** HEADERS */
/****** header-index */



/* Logo / Nav */
.container-logo-nav {
    z-index: 9000;
    padding: 40px 50px;

}

/* Carousel */

.carousel-caption {
    margin-bottom: 15vw;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-indicators {
    bottom: 7vw;
}




/******************** index.html.twig */
.section-button-index {
    max-width: 1080px;
    left: 50%;
    transform: translate(-50%);
}


/******************** creation-epreuve.html.twig */


.column-left {
    border-right: 1px solid #444444;
    height: 100vh;
}

/* Colonne gauche - section creation formulaire */
.row.creation-epreuve {
    margin-top: 100px;
}

.row.creation-epreuve h1 {
    margin-bottom: 50px;
}

/* Formulaire */

.validation-bar {
    margin-top: 20px;
}


/******************** creation-participant.html.twig */

form.form-creation-participant {
    width: 370px;
}

.row.creation-participant {
    margin-top: 100px;
}

/* Formulaire */

.validation-bar {
    margin-top: 20px;
}